<app-header></app-header>

<div class="container">
    <h1> {{ categoryName }} </h1>

    <div class="container-product">
        <div *ngFor="let item of visibleItems" (click)="goToProduct(item.id)" class="product">
            <app-card [title]="item.title" [ingredients]="item.ingredients"></app-card>
        </div>
    </div>

    <app-button (click)="toggleShowAll()" backgroundColor="background-color-primary" label="Ver Cardápio Completo"
        width="350px" height="60px">
        {{ showAll ? 'Mostrar Menos' : 'Ver Cardápio Completo' }}
    </app-button>

</div>