.container {
    justify-content: space-around;
}

.container-card h1 {
    color: var(--color-dark-red);
}

.container-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.description-box {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    width: 40%;
    min-height: 250px;
}

.description-box h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}

.description-box p {
    text-align: justify;
    font-size: 16px;
    color: #333;
}