.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group div {
    width: 40%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

label span {
    color: red;
}